@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

:root {
    --tamanho-header: 80px;
    --tamanho-footer: 300px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

/*Header*/

.header {
    height: var(--tamanho-header);
    background-color: #176C91;
}

.navbar {
    height: 100%;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
}

.header img {
    width: 80px;
}

.navbar {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.navbar .div_esquerda {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.navbar .div_direita {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: white;
}

.agora {
    font-weight: 800;
}

/*Header*/
/*Main*/

main {
    background-color: #e5e5e5;
    display: flex;
}

main .container .boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

main .container .boxes h6 {
    color: #176C91;
    font-size: 30px;
}

main .container .boxes p {
    font-size: 25px;
}

main .container .boxes .img_logo {
    width: 300px;
}

h6 {
    margin-top: 0;
    margin-bottom: 20px;
}

.box1 {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 50px;
}

.box1 .texto {
    justify-content: flex-start;
    text-align: justify;
}

.box1 img {
    border: #176C91 solid 4px;
    width: 700px;
    align-self: center;
    height: fit-content;
}

.box2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 50px;
}

.box2 .texto {
    justify-content: flex-start;
    text-align: justify;
}

.box2 img {
    border: #176C91 solid 4px;
    width: 770px;
    align-self: center;
    height: fit-content;
}

.box3 {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin-top: 50px;
}

.box3 .texto {
    justify-content: flex-start;
    text-align: justify;
}

.box3 img {
    border: #176C91 solid 4px;
    width: 700px;
    align-self: center;
    height: fit-content;
}

.ModeloDeNegócio {
    text-align: center;
    margin-top: 50px;
}

.ModeloDeNegócio img {
    width: 100%;
    border: #176C91 solid 4px;
}

/*Footer*/
.agrotech_redesSociais {
    width: 30px;
    height: 30px;
}

.footer {
    display: flex;
    height: var(--tamanho-footer);
    width: 100%;
    background-color: #176C91;
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    text-decoration: none;
}

.div_icons {
    display: flex;
    height: 30px;
    gap: 20px;
    flex-direction: row;
}

.div_icons img {
    height: 30px;
    width: 30px;
}

.texto_footer a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

#agrotech_logo {
    margin-top: 30px;
    height: 50px;
    width: auto;
}